.react-calendar-heatmap .color-github-1 {
  fill: rgb(234, 245, 255);
}
.react-calendar-heatmap .color-github-2 {
  fill: rgb(234, 245, 255);
}
.react-calendar-heatmap .color-github-3 {
  fill: rgb(0, 119, 250);
}
.react-calendar-heatmap .color-github-4 {
  fill: rgb(0, 119, 250);
}

.semi-form-section-text {
  border: none;
}
