:root {
  --habbit-theme-1: "#2563eb";
  --habbit-theme-2: "#2196f3";
  --habbit-theme-3: "#03a9f4";
  --habbit-theme-4: "#f44336";
  --habbit-theme-5: "#e91e63";
  --habbit-theme-6: "#9c27b0";
  --habbit-theme-7: "#673ab7";
}
